<html>
<head>
  <title>TransitCenter Transit Explorer</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" type="text/css" href="fontawesome-pro/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="mapbox-gl/mapbox-gl.css">
</head>
<body>
  <div class="outer-container outer-container--national loading">
    <%= require('html-loader!./header.html') %>
    <div class="main-content-container">
      <%= require('html-loader!./sidebar.html') %>
      <div class="right-content-container">
        <%= require('html-loader!./atlas.html') %>
        <%= require('html-loader!./footer.html') %>
      </div>
    </div>
    <div class="loader">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
  
  <script src="d3/d3.min.js"></script>
  <script src="d3/d3-selection-multi.min.js"></script>
  <script src="mapbox-gl/mapbox-gl.js"></script>
</body>
</html>