{ 
  "extends": ["airbnb-base"],
  "plugins": ["jest"],
  "globals": {
    "d3": false,
    "window": false,
    "mapboxgl": false,
    "Blob": false,
    "Image": false,
    "XMLSerializer": false,
    "document": false
  },
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "max-lines": "warn",
    "no-console":"off",
    "no-unused-vars": "warn"
  }
}