[submodule "src/js/state"]
	path = src/js/state
	url = https://github.com/axismaps/state.git
[submodule "bin/transitland"]
	path = bin/transitland
	url = https://github.com/interline-io/transitland-frequency-exports.git
[submodule "story"]
	path = story
	url = https://github.com/axismaps/ridership-data-story.git
