.ipynb_checkpoints/*
.vscode/*
node_modules/*
data/census/lodes/crosswalks/*
data/census/lodes/wac/*
data/output/*.geojson
data/output/*.mbtiles*
data/output/*.gz
*.pyc
~$*
dist
scratch
bin/settings.py
.env
.DS_Store