.atlas__outer-container {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  // height: calc(100% - 60px);
  // height: 100vh;
  height: 100%;
  // height: calc(100vh - #{$header__title-row-mobile--height});
}

.atlas__msa-map-container,
.atlas__map-container {
  height: auto;
  flex: 1;
  height: calc(100% - 125px)
}

.atlas__top-row {
  padding: 0;
  position: relative;
  margin-bottom: 65px;
  border-bottom: 1px solid #ccc;
}

.atlas__top-row-left {
  width: 100%;
}

.atlas__compare-dropdown-button,
.atlas__search-dropdown-button {
  display: none;
}

.atlas__top-row select.mobile {
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}


.atlas__top-row .mobile-modal select {
  display: inline;
  opacity: 1;
  position: relative;
  width: auto;
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: none;
  margin: 5px 10px 50px 0;
  padding-right: 20px;
}

.atlas__top-row .mobile-modal select + i {
  margin-left: -20px;
}

.atlas__top-row .mobile-modal > * {
  flex: 0;
}

.atlas__top-row .mobile-modal p {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.atlas__top-row .mobile-modal p:first-child, .atlas__top-row .mobile-modal .mobile-done {
  flex: 1;
}

.atlas__census-dropdown-button,
.atlas__indicator-dropdown-button,
.atlas__year-slider-button {
  margin: 0;
  flex: 1;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0 10px;
}

.atlas__year-slider-button {
  border-left: 1px solid #ccc;
}

.atlas__top-button:hover {
  color: $main-text-color;
}

.atlas__nav-container {
  top: 120px;
}