.atlas__outer-container {
  @include panel();
  position: absolute;
  left: $atlas--left;
  top: $sidebar--top;
  height: calc(100vh - #{$sidebar--top} - #{$histogram--height});
  width: calc(100% - #{$atlas--left});
  border-top-left-radius: $sidebar--border-radius;
}

.sidebar__top-row,
.atlas__top-row {
  height: $panel__top-row--height;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.atlas__indicator-dropdown-button {
  margin-left: 10px;
  color: $header__title-row--background;
  font-weight: 600;
}

.atlas__year-slider-button {
  margin-left: 50px;
}

.atlas__indicator-dropdown-button,
.atlas__year-slider-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.atlas__indicator-dropdown-button-text,
.atlas__year-slider-button-text {
  margin-right: 5px;
}

.atlas__map-container {
  height: calc(100% - #{$panel__top-row--height});
}

.map__state {
  fill: #EEEEEE;
  stroke: #CCCCCC;
}

.map__agency {
  stroke: #666666;
  stroke-width: 1px;
  fill-opacity: 0.8;
}

.map__agency:hover {
  fill-opacity: 0.95;
  stroke: black;
  stroke-width: 2px;
}