.atlas__outer-container {
  border-radius: 0;
  display: block;
  height: calc(100% - 60px);
  // height: 100vh;
  flex: 1;
  // height: calc(100vh - #{$header__title-row-mobile--height});
}

.atlas__msa-map-container,
.atlas__map-container {
  height: auto;
  flex: 1;
  height: calc(100% - 115px);
}

.atlas__mobile-spacer.mobile {
  display: block;
  height: 0;
}

.atlas__top-row {
  padding: 0;
  position: relative;
  margin-bottom: 65px;
  border-bottom: 1px solid #ccc;
}

.atlas__top-row-left {
  width: 100%;
}

.atlas__compare-dropdown-button,
.atlas__search-dropdown-button {
  display: none;
}

.atlas__top-row select.mobile {
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}


.atlas__top-row .mobile-modal select {
  display: inline;
  opacity: 1;
  position: relative;
  width: auto;
  text-align: center;
  font-size: 28px;
  margin: 15px 0;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: none;
  margin: 5px 10px 50px 0;
  padding-right: 20px;
}

.atlas__top-row .mobile-modal select + i {
  margin-left: -20px;
  font-size: 28px;
  color: #666;
}

.atlas__top-row .mobile-modal > * {
  flex: 0;
}

.atlas__top-row .mobile-modal p {
  margin: 0;
  font-size: 18px;
}

.atlas__top-row .mobile-modal p:first-child {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
}

.atlas__top-row .mobile-modal p:first-child, .atlas__top-row .mobile-modal .mobile-done {
  flex: 1;
}

.atlas__census-dropdown-button,
.atlas__indicator-dropdown-button,
.atlas__year-slider-button {
  margin: 0;
  flex: 1;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0 10px;
}

.atlas__census-dropdown-button-text,
.atlas__indicator-dropdown-button-text {
  white-space: normal;
}

.outer-container--sidebar .atlas__indicator-dropdown-button,
.outer-container--sidebar .atlas__census-dropdown-button {
  display: none;
}

.atlas__year-slider-button {
  border-left: 1px solid #ccc;
}

.atlas__top-button:hover {
  color: $main-text-color;
}

.atlas__nav-container {
  top: 120px;
}

.atlas__back-button {
  position: absolute;
  top: 65px;
  left: 15px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40px;
  justify-content: center;
  line-height: 40px;
  height: 40px;
  padding: 0;
  color: #000;
}

.atlas__histogram-button-outer.mobile {
  display: block;
  width: auto;
  padding: 0 10px;
  line-height: 30px;
}

.atlas__histogram-button i {
  margin-right: 5px;
}

@media (orientation: landscape) {
  .atlas__histogram-button-outer.mobile {
    right: 20px;
    left: auto;
  }
}

.atlas__back-button > i {
  margin: 0;
}

.outer-container--msa .atlas__msa-name.mobile {
  display: flex;
  position: absolute;
  top: 55px;
  font-size: 14px;
  width: calc(100% - 140px);
  left: 70px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  height: 60px;
}