.atlas__outer-container {
  @include panel();
  position: absolute;
  left: $atlas--left;
  top: $sidebar--top;
  height: calc(100vh - #{$sidebar--top} - #{$histogram--height});
  width: calc(100% - #{$atlas--left});
  border-top-left-radius: $sidebar--border-radius;
}

.sidebar__top-row,
.atlas__top-row {
  height: $panel__top-row--height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.atlas__top-row-left {
  display: flex;
  height: 100%;
  align-items: center;
}

.atlas__back-button {
  margin-right: 10px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background: $main-blue;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.atlas__back-button:hover {
  background: $main-blue--dark;
}

.atlas__back-button > i {
  margin-right: 5px;
}

.atlas__census-dropdown-button,
.atlas__indicator-dropdown-button {
  margin-left: 10px;
  color: $header__title-row--background;
  font-weight: 600;
}

.atlas__year-slider-button,
.atlas__compare-dropdown-button {
  margin-left: 50px;
}

.atlas__distance-dropdown-button,
.atlas__census-dropdown-button,
.atlas__indicator-dropdown-button,
.atlas__year-slider-button,
.atlas__compare-dropdown-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.atlas__distance-dropdown-button > i {
  margin-right: 5px;
}

.atlas__census-dropdown-button-text,
.atlas__indicator-dropdown-button-text,
.atlas__year-slider-button-text,
.atlas__compare-dropdown-button-text {
  margin-right: 5px;
}

.atlas__msa-map-container,
.atlas__map-container {
  height: calc(100% - #{$panel__top-row--height});
}

.atlas__msa-map-container {
  opacity: 0;
  transition: opacity 1000ms;
}

.atlas__msa-map-container--loaded {
  opacity: 1;
}

.map__state {
  fill: #EEEEEE;
  stroke: #CCCCCC;
}

.map__agency {
  stroke: #666666;
  stroke-width: 1px;
  fill-opacity: 0.8;
  cursor: pointer;
}

.map__agency:hover, .map__agency.highlight, .map__agency.compared {
  fill-opacity: 0.95;
  stroke: black;
  stroke-width: 2px;
}

.compare .map__agency:hover {
  cursor: url(img/add.svg), auto;
}

.compare .map__agency.compared:hover {
  cursor: url(img/remove.svg), auto;
}

.map__hidden-layer {
  display: none;
}

.outer-container--msa {
  .atlas__indicator-dropdown-button,
  .atlas__compare-dropdown-button,
  .atlas__map-container {
    display: none;
  }
}

.outer-container--national {
  .atlas__distance-dropdown-button,
  .atlas__census-dropdown-button,
  .atlas__back-button,
  .atlas__msa-map-container {
    display: none;
  }
}