.atlas__outer-container {
  @include panel();
  position: absolute;
  left: $atlas--left;
  top: $sidebar--top;
  height: calc(100vh - #{$sidebar--top});
  width: calc(100% - #{$atlas--left});
  border-top-left-radius: $sidebar--border-radius;
}