// $footer-mobile--height
.outer-container:not(.embed) {
  .data-probe {
    border-radius: 0px;
    width: 100% !important;
    bottom : $footer-mobile--height !important;
    left: 0px !important;
    z-index: 401;
  }
  .outer-container--histogram .data-probe {
    bottom: 0 !important;
    z-index: 501;
  }

  .data-probe .fa-times {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}




.data-probe__msa-text {
  font-size: 16px;
  color: $main-blue;
  font-weight: bold;
}



.data-probe span.mobile {
  display: inline;
}