.data-probe {
  z-index: 1000;
  @include popup-outer();
}

.data-probe__inner {
  // padding: 15px 20px;
  // background: rgba(0, 0, 0, 0.8);
  // color: white;
  // border-radius: 5px;
  @include popup-inner();
  font-size: 12px;
}

.data-probe__row:not(:last-child) {
  margin-bottom: 5px;
}

// .data-probe__row {
  // font-weight: 700;
  // text-align: center;
// }

.data-probe__click-row {
  font-style: italic;
  font-weight: 400;
}

.data-probe__field {
  font-weight: 600;
}

.data-probe__name {
  font-size: 15px;
}

.data-probe__msa-text {
  font-size: 12px;
  color: #666;
  font-weight: 350;
  margin-top: 10px;
}

.data-probe .sparkline-background {
  fill: none;
}

.data-probe .sparkline-axis path.domain {
  display: none;
}

.data-probe .sparkline-axis g.tick line {
  stroke: $body--background;
  stroke-width: 2;
}

.data-probe .sparkline-axis g.tick text {
  fill: #666;
}

.data-probe .sparkline-year-axis g.tick text {
  text-anchor: start;
}

.data-probe .sparkline-year-axis g.tick:last-child text {
  text-anchor: end;
}

.msa-probe__tract-row {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.msa-probe__indicator-row {
  font-size: 14px;
}

.msa-probe__indicator {
  font-weight: bold;
}