.dropdown-content {
  // display: none;
  opacity: 0;
  transition: opacity 300ms;
  pointer-events: none;
  svg line {
    pointer-events: none;
  }
  @include popup-outer();
}

.distance-dropdown__content-container {
  max-width: 165px;
}

.distance-dropdown__description,
.dropdown-content__inner {
  @include popup-inner();
}

.dropdown-content--open {
  // display: block;
  opacity: 1;
  pointer-events: auto;
  svg line {
    pointer-events: auto;
  }
}

.msa-dropdown__content-row,
.indicator-dropdown__content-row,
.compare-dropdown__content-row {
  margin-top: 15px;
  cursor: pointer;
}

.indicator-dropdown__content-row:hover,
.indicator-dropdown__content-row--highlighted,
.compare-dropdown__content-row:hover,
.compare-dropdown__content-row--highlighted,
.compare .atlas__compare-dropdown-button {
  color: $header__title-row--background;
  font-weight: 600;
}

.msa-dropdown__content-container {
  max-height: 75vh;
  overflow-y: auto;
}

.atlas__compare-dropdown-button .fa-times-circle, .compare .atlas__compare-dropdown-button .fa-angle-down {
  display: none;
}

.compare .atlas__compare-dropdown-button .fa-times-circle {
  display: inline;
}

.compare-dropdown__content-row:last-child {
  padding-top: 15px;
  border-top: 1px solid #ccc;
}