.dropdown-content {
  // display: none;
  opacity: 0;
  transition: opacity 300ms;
  pointer-events: none;
  svg line {
    pointer-events: none;
  }
  @include popup-outer();
}



.dropdown-content__inner {
  @include popup-inner();
}

.dropdown-content--open {
  // display: block;
  opacity: 1;
  pointer-events: auto;
  svg line {
    pointer-events: auto;
  }
}

.msa-dropdown__content-row,
.indicator-dropdown__content-row {
  margin-top: 15px;
  cursor: pointer;
}

.indicator-dropdown__content-row:hover,
.indicator-dropdown__content-row--highlighted,
.compare-dropdown__content-row:hover,
.compare-dropdown__content-row--highlighted {
  color: $header__title-row--background;
  font-weight: 600;
}

.msa-dropdown__content-container {
  max-height: 75vh;
  overflow-y: auto;
}