// .outer-container.embed {
//   bottom: auto;
//   left: auto;
// }

.outer-container.embed--sidebar {
  .header,
  .right-content-container,
  .sidebar__top-row,
  .dropdown-content,
   {
    display: none;
  }

  .main-content-container,
  .sidebar {
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-width: none;
    display: block;
  }
  
  .sidebar,
  .sidebar__outer-content {
    margin: 0px;
  }

  .sidebar__outer-content {
    padding-top: 20px;
    top: 0px;
    height: calc(100% - 20px);
  }
}

.outer-container.embed--msaAtlas,
.outer-container.embed--atlas {
  .header,
  // .right-content-container,
  .atlas__back-button,
  .sidebar,
  .atlas__compare-dropdown-button,
   {
    display: none;
  }

  .atlas__outer-container {
    height: calc(100vh - #{$histogram--height});
  }
  .right-content-container {
    margin: 0px;
  }
}

.outer-container.embed--dropdowns-off {
  .atlas__top-row {
    display: none;
  }
  .atlas__map-container,
  .atlas__msa-map-container {
    height: 100%;
  }

  .atlas__nav-container {
    top: 20px;
  }
}

.outer-container.embed--histogram-off {
  .footer {
    display: none;
  }
  .atlas__outer-container {
    height: 100vh;
  }
}

.outer-container.embed--histogram {
  .header,
  .atlas,
  .footer__atlas-legend,
  .sidebar {
    display: none;
  }

  .footer {
    height: 100%;
  }

  .right-content-container {
    margin: 0px;
  }
  .histogram__y-axis-label {
    position: absolute;
    width: 100vh;
    // left: -45vh !important;
    left: calc(-50vh + 20px);
    top: 40vh !important;
    // width: 20px !important;
  }
}
