.footer {
  height: auto;
  z-index: 500;
}

.outer-container--histogram .footer {
  z-index: 501;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: calc(100% - 160px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__atlas-legend,
.footer__msa-legend {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  width: 175px;
  height: 175px;
}

.outer-container--histogram .footer__atlas-legend {
  visibility: visible;
  position: relative;
}

.outer-container--histogram .footer__msa-legend {
  visibility: visible;
  position: relative;
}

@media (orientation: landscape) {
  .outer-container--histogram .footer {
    flex-direction: row;
  }
}

.footer__modal-buttons.mobile {
  display: flex;
  height: $footer-mobile--height;
  background: white;
  width: 100%;
  border-top: 1px solid #ccc;
}

.outer-container--histogram .footer__modal-buttons {
  display: none;
}

.footer__modal-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-left: 1px solid #ccc;
  color: #666;
  font-size: 14px;
}

.footer__modal-button:first-child {
  border-left: none;
}

.footer__modal-button--highlighted {
  color: $main-blue;
}

.footer__modal-button i {
  display: block;
  margin-bottom: 5px;
  font-size: 1.5em;
}