.footer {
  position: absolute;
  background: white;
  bottom: 0px;
  right: 0px;
  width: calc(100% - #{$atlas--left});
  height: $histogram--height;
  display: flex;
}

.footer__atlas-legend {
  height: 100%;
  width: $legend--width;
}

.footer__atlas-legend--hidden {
  display: none;
}