.footer {
  position: relative;
  background: white;
  height: $histogram--height;
  display: flex;
}

.footer__atlas-legend {
  height: 100%;
  width: $legend--width;
  position: relative;
}

.footer__atlas-legend--hidden {
  display: none;
}

.legend__circle {
  fill: none;
  stroke: #999999;
  stroke-width: 1px;
}

.legend__label {
  font-size: 10px;
  font-weight: 350;
}

.legend__description {
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  text-align: center;
}

.footer__msa-legend {
  // width: 600px;
  position: relative;
  // flex-shrink: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
}

.msa-legend__row {
  display: flex;
  align-items: center;
  height: 20px;
}

.msa-legend__icon {
  width: 50px;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.msa-legend__text {
  padding-left: 10px;
}

.outer-container--national {
  .footer__msa-legend {
    display: none;
  }
}

