.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.header__title-row {
  height: $header__title-row--height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  background: $header__title-row--background;
  color: white;
}

.header__title-block {
  display: flex;
}

.header__title-buttons-block {
  display: flex;
}

.header__title-button {
  margin-left: 20px;
  cursor: pointer;
}

.header__title-button a{
  color: white;
  text-decoration: none;
}

.header__menu-row {
  height: $header__menu-row--height;
  // background: $header__menu-row--background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.header__spark-menu-block {
  display: flex;
}

.header__msa-dropdown {
  display: flex;
}

.header__msa-dropdown-text {
  margin-left: 10px;
  cursor: pointer;
}

.outer-container--msa .header__data-view-container {
  display: none;
}

.header__data-view-button {
  padding: 0 10px;
  cursor: pointer;
}

.header__data-view-button--highlighted {
  color: $header__title-row--background;
  font-weight: 600;
}

.header__data-view-button:last-child {
  border-left: 1px solid #666;
}