.histogram {
  position: absolute;
  background: white;
  bottom: 0px;
  right: 0px;
  width: calc(100% - #{$atlas--left});
  height: $histogram--height;
}

.histogram__average-line {
  stroke: #666666;
  stroke-width: 1px;
}

.histogram__average-text {
  font-weight: 600;
  font-size: 12px;
}

.histogram__svg rect {
  cursor: pointer;
}

.histogram__svg rect:hover, .histogram__svg rect.highlight {
  stroke: black;
  stroke-width: 2px;
}

.histogram__svg .histogram__axis .tick line {
  stroke: #999;
}

.histogram__svg .histogram__axis path.domain {
  display: none;
}