.histogram {
  position: absolute;
  background: white;
  bottom: 0px;
  right: 0px;
  width: calc(100% - #{$atlas--left});
  height: $histogram--height;
}

.histogram__average-line {
  stroke: #666666;
  stroke-width: 1px;
}