.footer__histogram {
  display: none;
  width: 100%;
  height: 50%;
  position: relative;
  margin-bottom: 50px;
}

.outer-container--histogram .header__histogram-back,
.outer-container--histogram .footer__histogram
 {
  display: block;
}

@media (orientation: landscape) {
  .outer-container--histogram .footer__histogram {
    width: calc(100% - 200px);
    margin-bottom: 0;
    height: 75%;
  }
}

.header__histogram-back {
  cursor: pointer;
}

.header__histogram-back i.fa-angle-left {
  margin-right: 10px;
}

.histogram-mobile {
  position: absolute;
  left: 0px;
  bottom: 0px;
  // height: calc(100% - 115px);
  height: $histogram--height;
  width: 100%;
  z-index: 400;
  background: white;
}

.histogram__y-axis-label {
  position: absolute;
  width: $histogram--height ;
  left: -(($histogram--height ) / 2) + 20px;
  top: ($histogram--height  / 2) + 50px;
  // left: -45vh !important;
  // left: calc(-50vh + 20px);
  // top: 40vh !important;
  // width: 20px !important;
}

@media (orientation: landscape) {
  .histogram__y-axis-label {
    top: ($histogram--height / 2) - 20;
  }
}