body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  // min-width: 1220px;
  overflow-x: auto;
}

.outer-container {
  min-width: 1220px;
  overflow-y: hidden;
}

.main-content-container, .right-content-container {
  display: flex;
}

.right-content-container {
  flex-direction: column;
  margin-left: $atlas--margin-left;
  flex: 1;
  min-width: calc(100% - #{$atlas--min-left});
}

.mobile {
  display: none;
}