@media (max-width: 500px),
(max-device-width: 823px) and (orientation: landscape),
(max-device-height: 823px) and (orientation: portrait) {
  
  .desktop {
    display: none;
  }

  .dropdown-content {
    display: none;
  }

  .main-content-container {
    height: calc(100% - 70px);
  }

  .right-content-container {
    margin: 0;
    height: 100%;
  }

  .mobile-modal.open {
    display: flex;
    position: fixed;
    background: white;
    top: #{$header__title-row--height};
    left: 0;
    height: calc(100% - #{$header__title-row--height});
    width: 100%;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-modal .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }


  @import 'header-mobile';
  @import 'sidebar-mobile';
  @import 'atlas-mobile';
  @import 'footer-mobile';
  @import 'data-probe-mobile';
}