.sidebar {
  display: none;
  position: absolute;
  z-index: 300;
  width: 100%;
  height: calc(100vh - 225px);
  margin-top: 115px;
  box-shadow: none;
}

.outer-container--sidebar .sidebar {
  display: block;
}

.sidebar__outer-content {
  height: 100%;
  margin-top: 0;
  padding-top: 15px;
  box-sizing: border-box;
}

.sidebar__top-row {
  display: none;
}

.sidebar__pcp-container .sidebar__pcp-labels {
  width: calc(100% - 220px);
}

.sidebar__pcp-row {
  width: 100%;
}

.sidebar__sparkline-row {
  margin-bottom: 10px;
}

.sidebar__sparkline-row:hover {
  background-color: #fff;
}

.sidebar__sparkline-expand {
  visibility: visible;
}

.sidebar__sparkline-legend-row {
  font-size: 14px;
  line-height: 14px;
}

.sidebar__sparkline-title, .sidebar__pcp-row {
  font-size: 13px;
  line-height: 14px;
}