.sidebar__outer-container {
  @include panel();
  position: absolute;
  left: 0px;
  top: $sidebar--top;
  height: calc(100vh - #{$sidebar--top});
  width: $sidebar--width;
  border-top-right-radius: $sidebar--border-radius;
  // overflow: auto;
}

$sidebar-content--margin-top: 20px;
.sidebar__outer-content {
  margin-top: $sidebar-content--margin-top;
  height: calc(100vh - #{$sidebar--top + $panel__top-row--height + $sidebar-content--margin-top});
  overflow: auto;
}

.sidebar__content {
  padding-left: 20px;
  padding-right: 20px;
  // padding-top: 20px;
}

.sidebar__top-button-outer {
  height: 100%;
}

.sidebar__top-button {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar__top-button:hover {
  color: $main-blue;
  font-weight: 600;
}

.sidebar__top-button--active,
 {
  color: $main-blue;
  font-weight: 600;
  border-bottom: 4px solid $main-blue;
  height: calc(100% - 4px);

  .sidebar__top-button-text, i {
    margin-top: 4px;
  }
}

.sidebar__top-button-text {
  margin-left: 8px;
}

.sidebar__parallel-button-outer {
  margin-left: 30px;
}

.sidebar__sparkline-title {
  flex: 1;
}

.sidebar__sparkline-title, .sidebar__pcp-row {
  color: #666666;
  cursor: pointer;
  font-size: 15px;
}

.sidebar__sparkline-title--selected, .sidebar__pcp-row--selected {
  color: $main-blue;
  font-weight: 600;
}

.sidebar__sparkline-legend-row {
  margin-bottom: 8px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__sparkline-legend-row-left {
  display: flex;
  align-items: center;
}

.sidebar__sparkline-legend-text {
  margin-left: 10px;
  max-width: 200px;
}

.sidebar__sparkline-legend-check {
  cursor: pointer;
}

.sidebar__sparkline-legend-swatch-container {
  margin-right: 30px;
}

.sidebar__sparkline-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 45px;
  transition: height .4s;
}

.sidebar__sparkline-row:hover {
  background-color: $gray-hover;
}

.sidebar__sparkline-row.expanded {
  height: 190px;
}

.sidebar__sparkline-expand {
  visibility: hidden;
  cursor: pointer;
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #666;
}

.sidebar__sparkline-row:hover .sidebar__sparkline-expand, .sidebar__sparkline-row.expanded .sidebar__sparkline-expand {
  visibility: visible;
}

.sidebar__sparkline-row .sidebar__sparkline-expand .fa-chevron-down {
  transition: transform .4s;
}

.sidebar__sparkline-row.expanded  .sidebar__sparkline-expand .fa-chevron-down{
  transform: rotate(180deg);
}

.sidebar__sparkline-container {
  cursor: pointer;
}

.sidebar .sparkline-background {
  fill: $body--background;
  opacity: 0;
  transition: opacity .4s;
}

.sidebar .sparkline-axis,
.sidebar .sparkline-axis path.domain {
  display: none;
}

.sidebar .sparkline-axis g.tick line {
  stroke: white;
}

.sidebar .sparkline-axis g.tick text {
  fill: #666;
}

.sidebar__sparkline-row.expanded .sparkline-background,
.expanded .sparkline-axis {
  display: block;
  opacity: 1;
}

.sidebar__sparkline-path {
  stroke: #666666;
  stroke-width: 1px;
  fill: none;
}

.sidebar__sparkline-path--selected {
  stroke: $main-blue;
  stroke-width: 2px;
}

.sidebar__pcp-header {
  display: flex;
  justify-content: flex-end;
}

.sidebar__pcp-header p {
  width: 220px;
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.sidebar__pcp-container {
  white-space: nowrap;
}

.sidebar__pcp-container .sidebar__pcp-labels, .sidebar__pcp-container .sidebar__pcp-svg,  {
  display: inline-block;
  vertical-align: top;
}

.sidebar__pcp-row {
  width:180px;
  display: flex;
  align-items: center;
  white-space: normal;
}

.sidebar__pcp-row:hover {
  background-color: $gray-hover;
}

.sidebar__pcp-row p {
  margin: 0;
}

.pcp-ticks path {
  stroke: rgba(0, 0, 0, .25);
  stroke-width: 1;
}

.pcp-ticks path.pcp-tick--selected {
  stroke: $main-blue;
  stroke-width: 2;
}

path.pcp-line {
  fill: none;
  stroke: 'black';
  stroke-width: .5;
  cursor: pointer;
}

path.pcp-line:hover, path.pcp-line.highlight, path.pcp-line.search-result {
  stroke-opacity: 1 !important;
  stroke-width: 2;
}

.sidebar__compare-row {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.sidebar__compare-list {
  display: none;
}

.sidebar__compare-list.visible {
  display: block;
}

.sidebar__compare-row .fa-times {
  color: #666;
  cursor: pointer;
}

.sidebar__compare-clear-button {
  border-radius: 5px;
  background-color: #F5F5F5;
  margin: 20px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}