.sidebar {
  display: none;
  position: absolute;
  z-index: 5000;
  width: 100%;
}

.outer-container--sidebar .sidebar {
  display: block;
}

.sidebar__pcp-container .sidebar__pcp-labels {
  width: calc(100% - 220px);
}

.sidebar__pcp-row {
  width: 100%;
}