.sidebar__outer-container {
  @include panel();
  position: absolute;
  left: 0px;
  top: $sidebar--top;
  height: calc(100vh - #{$sidebar--top});
  width: $sidebar--width;
  border-top-right-radius: $sidebar--border-radius;
}

.sidebar__outer-content {
  margin-top: 20px;
}

.sidebar__content {
  padding-left: 20px;
  padding-right: 20px;
  // padding-top: 20px;
}

.sidebar__top-button-outer {
  height: 100%;
}

.sidebar__top-button {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar__top-button:hover {
  color: $main-blue;
  font-weight: 600;
}

.sidebar__top-button--active,
 {
  color: $main-blue;
  font-weight: 600;
  border-bottom: 4px solid $main-blue;
  height: calc(100% - 4px);

  .sidebar__top-button-text, i {
    margin-top: 4px;
  }
}

.sidebar__top-button-text {
  margin-left: 8px;
}

.sidebar__parallel-button-outer {
  margin-left: 30px;
}

.sidebar__sparkline-title, .sidebar__pcp-row {
  color: #666666;
  cursor: pointer;
}

.sidebar__sparkline-title--selected, .sidebar__pcp-row--selected {
  color: $main-blue;
  font-weight: 600;
}

.sidebar__sparkline-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sidebar__sparkline-container {
  cursor: pointer;
}

.sidebar__sparkline-path {
  stroke: #666666;
  stroke-width: 1px;
  fill: none;
}

.sidebar__sparkline-path--selected {
  stroke: $main-blue;
  stroke-width: 2px;
}

.sidebar__pcp-container > * {
  display: inline-block;
  vertical-align: top;
}

.sidebar__pcp-row {
  width: 200px;
}

.sidebar__pcp-row p {
  margin: 0;
}

.pcp-ticks path {
  stroke: rgba(0, 0, 0, .25);
  stroke-width: 1;
}

.pcp-ticks path.pcp-tick--selected {
  stroke: #2D74ED;
  stroke-width: 2;
}

path.pcp-line {
  fill: none;
  stroke: rgba(0, 0, 0, .1);
  stroke-width: .5;
  cursor: pointer;
}

path.pcp-line:hover, path.pcp-line.highlight {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
}