$main-blue: #2D74ED;

$atlas--left-margin: 10px;

$body--background: #DFE9FC;

$gray-hover: #F5F5F5;

$sidebar--width: 460px;
$sidebar--border-radius: 5px;

$header__title-row--height: 70px;
$header__menu-row--height: 50px;
$header--height: $header__title-row--height + $header__menu-row--height;
$header__title-row--background: $main-blue;

$histogram--height: 175px;

$panel__top-row--height: 50px;

// ------------- derived variables ---------------

$atlas--left: $sidebar--width + $atlas--left-margin;
$sidebar--top: $header__title-row--height + $header__menu-row--height;

@mixin panel() {
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.15);
}

@mixin popup-outer() {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 350;
  z-index: 100;
}

@mixin popup-inner() {
  margin: 20px;
}