$main-blue--dark: rgb(35, 95, 199);
$main-blue: #2D74ED;
$main-text-color: #000;

$atlas--left-margin: 10px;

$body--background: #DFE9FC;

$gray-hover: #F5F5F5;

$sidebar--width: 33%;
$sidebar--max-width: 460px;
$sidebar--min-width: 340px;
$sidebar--border-radius: 5px;

$atlas--width: 67%;
$atlas--margin-left: 10px;

$header__title-row--height: 70px;
$header__menu-row--height: 50px;
$header--height: $header__title-row--height + $header__menu-row--height;
$header__title-row--background: $main-blue;
$sidebar__sparkline--width: 180px;

$histogram--height: 175px;

$legend--width: 175px;

$panel__top-row--height: 50px;

// ------------- derived variables ---------------

$sidebar--top: $header__title-row--height + $header__menu-row--height;
$atlas--min-left: $sidebar--max-width + $atlas--margin-left;

@mixin panel() {
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.15);
}

@mixin popup-outer() {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 350;
  z-index: 100;
}

@mixin popup-inner() {
  margin: 20px;
}